form {
    padding: 10px;
}

input[type=text], select {
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=submit] {
    color: #fff;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.titleForm {
    width: 50%;
    display: flex;
    flex-direction: column;
}

textarea {
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.header-space {
    display: flex;
    width: 100%;
}

.text-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-group {
    display: flex;
    margin: 10px;
}

.button-form {
    background-color: #1EAADB;
    color: #fff;
    padding: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Inter';
    padding-inline: 20px;
}

.button-ai {
    background-color: #106DAA;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Inter';
    padding-inline: 20px;
}

.button-add {
    background-color: #106DAA;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Inter';
    padding-inline: 15px;
}

.delete-button {
    background-color: #aa1020;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Inter';
}

input[type="file"]{
    display: none;
}

i {
    padding: 4px;
    padding-inline: 10px;
}

.form-answer{
    padding-top: 20px;
}

.form-answer-title {
    padding-inline: 0;
    font-size: 14px;
}

.form-header {
    display: flex;
    gap: 10px;
}

.styling-form {
    margin: 10px;
    display: flex;
}

.alert-good{
    color: green;
    font-size: 14px;
}

.alert-bad {
    color: #aa1020;
    font-size: 14px;
}

.required:after {
    content:" *";
    color: red;
}

.ai-box {
    margin: 10px;
}

.box-header {
    font-weight: bold;
}

.box-item {
    padding-bottom: 15px;
}